<h1>Parks of Athens</h1>
<div class="login-buttons">
    <% if (currentUser) { %>
        <p>Welcome, <span class="username"><%=currentUser.username%></span>.</p>
        <form action="/users/delete?_method=DELETE" method="POST">
            <input type="submit" value="Log Out">
        </form>
    <% } else { %>
        <a href="/users">Log In</a>
        <a href="/users/new">Create New Account</a>
    <% } %>
</div>
<nav>
    <a href="/">Home</a>
    <a href="#">Parks</a>
    <a href="#">Events</a>
    <a href="#">Contact Us</a>
</nav>
