<h1>Parks of Athens</h1>
<div class="login-buttons">
    <a href="#">Log In</a>
    <a href="#">Create New Account</a>
</div>
<nav>
    <a href="/">Home</a>
    <a href="#">Parks</a>
    <a href="#">Events</a>
    <a href="#">Contact Us</a>
</nav>
