<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Parks of Athens</title>
    </head>
    <body>
        <header>
            <h1>Parks of Athens</h1>
            <div class="login-buttons">
                <a href="#">Log In</a>
                <a href="#">Create New Account</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="#">Parks</a>
                <a href="#">Events</a>
                <a href="#">Contact Us</a>
            </nav>
        </header>
        <main>
            <div class="article">
                <h3>Welcome to Parks of Athens</h3>
                <p>This site allows locals and tourists a chance to rate and leave reviews on the various public parks around Athens, GA. If a park is not on this list, feel free to add it to the site, as long as it is within 1.5 hours of Athens, GA.</p>
            </div>
            <% for (let i = 0; i < parks.length; i++) { %>
                <div class="park-container">
                    <h3><%=parks[i].name%></h3>
                    <a href="<%=parks[i].id%>">Park Image will go here!</a>
                    <p><%=parks[i].rating%></p>
                    <p><%=parks[i].description%></p>
                </div>
            <% } %>
            <!-- <div class="park-container">
                <a href="#">Park Image will go here!</a>
                <p>Park Rating will go here!</p>
                <p>Beginning of (or first sentence of park description) will go here</p>
            </div> -->
        </main>
        <footer>
            <div class="footer-container">
                <a href="#">Programmed by Kyle M.</a>
                <a href="#">October, 2018</a>
                <a href="/parks/new">Add a New Park</a>
            </div>
        </footer>
    </body>
</html>
