<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Create Account</title>
        <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <header>
            <% include ../../partials/header.ejs %>
        </header>
        <h1>Create Account</h1>
        <form action="/users/new" method="POST">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Create Account">
        </form>
        <footer>
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
