<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <header>
            <div class="h1-and-video">
                <div class="h1">
                    <h1>Parks</h1>
                    <h1>of</h1>
                    <h1>Athens</h1>
                </div>
                <video src="../IMG_4259.mov" autoplay loop poster=""></video>
            </div>
            <div class="full-nav">
                <div class="login-buttons">
                    <% if (currentUser && currentUser !== 'Guest') { %>
                        <p>Welcome, <span class="username"><%=currentUser.username%></span>.</p>
                        <form action="/users/delete?_method=DELETE" method="POST">
                            <input type="submit" value="Log Out">
                        </form>
                    <% } else { %>
                        <a href="/users">Log In</a>
                        <a href="/users/new">Create New Account</a>
                    <% } %>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <a href="/parks/events">Events</a>
                    <a href="/parks/contact">Contact Us</a>
                </nav>
            </div>
        </header>
        <h1>Contact Us</h1>
        <p>If you would like to contact us for any reason, please feel free to send an email to us by clicking on the email below and we'll get back to you as soon as we can. Thank you for your interest in the Parks of Athens website!</p>
        <a href="mailto:meserve.kyle@gmail.com">Send us an Email</a><br><br>
    </body>
    <footer>
        <% include ../../partials/footer.ejs %>
    </footer>
</html>
