<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <header>
            <div class="h1-and-video">
                <div class="h1">
                    <h1>Parks</h1>
                    <h1>of</h1>
                    <h1>Athens</h1>
                </div>
                <video src="../IMG_4259.mov" autoplay loop poster=""></video>
            </div>
            <div class="full-nav">
                <div class="login-buttons">
                    <% if (currentUser && currentUser !== 'Guest') { %>
                        <p>Welcome, <span class="username"><%=currentUser.username%></span>.</p>
                        <form action="/users/delete?_method=DELETE" method="POST">
                            <input type="submit" value="Log Out">
                        </form>
                    <% } else { %>
                        <a href="/users">Log In</a>
                        <a href="/users/new">Create New Account</a>
                    <% } %>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <a href="/parks/events">Events</a>
                    <a href="/parks/contact">Contact Us</a>
                </nav>
            </div>
        </header>
        <h1>Events:</h1>
        <h3>Rivers Alive! - October 19, 2018</h3>
        <p>Georgia's annual volunteer river cleanup event that encourages civic involvement in the preservation of Georgia's precious water resources. Bring a water bottle and glives, and wear long pants and closed toed shoes. - Location: Sandy Creek Nature Center</p>
        <a href="https://www.accgov.com/riversalve">Click Here to find out more!</a>
        <h3>Contra Dance - October 20, 2018</h3>
        <p>A dance presented by Athens Folk Music & Dance Society with live music by String Cat Theory and calling by Janet Shepherd. - Location: Memorial Park</p>
        <a href="https://www.athensfolk.org">Click Here to find out more!</a>
        <h3>Journey Through The Stars - October 27, 2018</h3>
        <p>This month's theme is "Cassiopeia." - Location: Sandy Creek Nature Center</p>
        <a href="https://www.athensclarkecounty.com/sandycreeknaturecenter">Click Here to find out more!</a><br><br>
    </body>
    <footer>
        <% include ../../partials/footer.ejs %>
    </footer>
</html>
