<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Add a New Park</title>
        <link rel="stylesheet" type="text/css" href="../../../style.css">
    </head>
    <body>
        <header>
            <% include ../../partials/header.ejs %>
        </header>
        <h1>Add a New Park to be Reviewed!</h1>
        <form action="/parks/new" method="POST">
            Name: <input type="text" name="name"><br>
            Link to Picture of Park: <input type="text" name="img"><br>
            Description: <input type="text" name="description"><br>
            Rating (1 - 5): <input type="number" name="rating"><br>
            <input type="submit" value="Add Park">
        </form>
        <footer>
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
